<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Bikes</title>
</head>
<body>
    <h1> Most Awesomesssstttttt Machines EVER</h1>


    <img src="/images/d1.jpg" alt="bike1">
    <img src="/images/d2.jpg" alt="bike2">
    <img src="/images/d3.jpg" alt="bike3">
    <img src="/images/d4.jpg" alt="bike4">
    <img src="/images/d5.jpg" alt="bike5">
</body>
</html>