<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Horses</title>
</head>
<body>
    <h1>Most Noble Animals EVER</h1>


    <img src="/images/h1.jpg" alt="horse1">
    <button > <a href="/horses/razor">show details</a> </button>
    <img src="/images/h2.jpg" alt="horse2">
    <img src="/images/h3.jpg" alt="horse3">
    <img src="/images/h4.jpg" alt="horse4">
    <img src="/images/h5.jpg" alt="horse5">
</body>
</html>